@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Proza+Libre&family=Satisfy&family=Spectral&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    color: black;
    background-color: #fffeff3d;
}

.container {
    font-family: 'Satisfy', cursive;
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    font-family: 'Satisfy', cursive;
    background-color: #efb9d6;
    width: 100%;
    padding: 2px;
}

.logo {
    width: 25%;
}

.sociais {
    width: 5%;
    padding-top: 10px;
}
.logo img {
    width: 110px;
    cursor: pointer;
    padding-left: 10%;
    padding-top: 2%;
}

.menu {
    width: 80%;
}

.menu nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding-right: 40px;
    font-size: 30px;
}

.sacola {
  display: flex;
}

.carrinho {
  color: black;
  font-size: 2rem;
  height: 5vh;
  background-color: #efb9d6;
  border: none;
  margin-right: 200px;
  cursor: pointer;
}

.lupa-home {
    color: black;
    font-size: 2rem;
    height: 30px;
    background-color: #efb9d6;
    border: none;
    margin-right: 200px;
    cursor: pointer;
}

.sociais button {
    size: 10px;
    width: 30px;
    height: 30px;
    background-color: #efb9d6;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}

.sociais button i {
    font-size: 15px;
}

h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
    padding-top: 10px;
    background-color: black;
    color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background: #ffff;
}

.content-left-header {
  display: flex;
}

.content-left-header span {
  font-size: 32px;
  text-transform: uppercase;
}

.content-right-header {
  display: flex;
  gap: 0px 10px;
}
.content-right-header img {
  width: 1.25rem;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 10px 80px;
}

.count-items {
  display: flex;
  align-items: center;
}

.count-items span {
  font-size: 16px;
  color: #a69a9f;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, auto));
  gap: 5px;
  width: 100%;
}

.grid-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: fit-content;

  position: relative;
}

.grid-img {
  width: fit-content;
  max-height: 316.52px;
}

.grid-img img {
  width: 15.625rem;
  height: 100%;

  object-fit: contain;
}

.grid-price-promotional {
  position: absolute;
  width: auto;
  padding: 3px 8px;
  border-radius: 3px;
  right: 0;
  transform: translate(0%, 0%);
  background: #292929;
}
.grid-price-promotional span {
  color: #ffff;
  font-size: 12px;
}

.grid-footer {
  width: 15.625rem;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-footer-title span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.grid-footer-sub-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.grid-footer-sub-title span {
  font-size: 12px;
  margin-top: 3px;
}
.grid-footer-sub-title .grid-footer-sub-title-discount {
  text-decoration: line-through;
  color: #a69a9f;
}
